*,*::after, *::before{
  box-sizing:border-box;
}
.Col-25{
  width:25%;
}
.Col-33{
  width:33%;
}
.Col-40{
  width: 40%;
}
.Col-50{
  width: 50%;
}
.Col-60{
  width: 60%;
}
.Col-66{
  width:66%;
}
.Col-75{
  width: 75%
}
.Col-100{
  width: 100%;
}
.Col-Dynamic{
  width: 100%;
  /* This value will be overwritten with media queries*/
}

/* -------- SITE WIDE RESPONSIVE BREAKPOINTS -------- */

/* -------- Mobile Under 480px -------- */
@media screen and (max-width: 480px){
  h2{
    font-size: 32px; /*reduce heading text size. Default is 48px */
    line-height: 36px; /*reduce heading line height. Default is 52lh */
  }
  body nav{
    padding:4px 22px 0px; /* reduces nav padding. Default is 22px 44px 22px*/
    height: 62px; /* reduces nav height to account for padding. Default is 96px*/
  }
  .Content-Clipper{
    clip-path: none; /* reduces size of inset to match new margins*/
    margin-top: 0px; /* reduces top margin size to account for new nav height*/
  }
  .Scrollable-Area{
    height:100vh;
  }
}
